<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Market</title>
    <link rel="stylesheet" href="../static/dist/css/output.css" />
    <link rel="stylesheet" href="../static/dist/css/style.css" />
  </head>
  <body>
    <nav>
      <div
        class="container mx-auto px-6 py-2 flex justify-between items-center"
      >
        <a class="font-bold text-2xl lg:text-4xl" href="/">
          <span
            class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600"
            >The Market!</span
          >
        </a>
        <div class="block">
          <button
            class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800 hover:border-teal-500 appearance-none focus:outline-none"
          >
            <svg
              class="fill-current h-3 w-3"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>
        <div>
          <ul class="inline-flex">
            <li><a class="px-4 font-bold" href="/">Home</a></li>
            <li><a class="px-4 hover:text-gray-800" href="#">About</a></li>
            <li><a class="px-4 hover:text-gray-800" href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      id="loader"
      class="left-0 top-0 fixed w-screen h-screen flex items-center justify-center"
    >
      <?xml version="1.0" ?><svg
        class="spinner"
        fill="none"
        height="48"
        viewBox="0 0 48 48"
        width="48"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4 24C4 35.0457 12.9543 44 24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4"
          stroke="black"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="4"
        />
      </svg>
    </div>
    <div class="text-center bg-gray-50 text-gray-800 py-20 px-6">
      <h1 class="text-5xl font-bold mt-0 mb-6">
        Welcome To
        <span
          class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600"
          >The Market!</span
        >
      </h1>
    </div>
    <div class="container mx-auto px-20 text-center items-center">
      <div id="form" class="rounded-lg bg-gradient-to-r">
        <h6 class="text-2xl p-2.5 mt-0 mb-6 text-center">Select a unit!</h6>
        <div class="text-center items-center">
          <select
            id="unitsSelect"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>Select option for trading crypto currency</option>
            <option value="BTC">Bitcoin</option>
            <option value="ETH">Ethereum</option>
            <option value="BNB">BNB</option>
            <option value="XRP">XRP</option>
            <option value="DOGE">Dogecoin</option>
            <option value="ADA">Cardano</option>
            <option value="MATIC">Polygon</option>
            <option value="DOT">Polkadot</option>
            <option value="DAI">Dai</option>
          </select>
        </div>
        <h6 class="text-2xl py-2 text-center">
          Select a time frame!
        </h6>
        <div class="p-2">
          <label class="radio-inline" for="3Months">
            <input
              type="radio"
              name="timeFrame"
              id="3Months"
              value="3"
              checked="checked"
            />
            3 Months
          </label>
          <label class="radio-inline" for="6Months">
            <input type="radio" name="timeFrame" id="6Months" value="6" />
            6 Months
          </label>
          <label class="radio-inline" for="9Months">
            <input type="radio" name="timeFrame" id="9Months" value="9" />
            9 Months
          </label>
          <label class="radio-inline" for="12Months">
            <input type="radio" name="timeFrame" id="12Months" value="12" />
            12 Months
          </label>
        </div>
        <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" onclick="getGraphs()">
          Start
        </button>
      </div>
      <iframe id="iframe" width="100%" height="1000px" src="" style="margin-top: 3rem; border: 1px solid black;"></iframe>
    </div>
  </body>

  <script type="text/javascript">
    function getGraphs() {
      document.getElementById("loader").style.display = "flex";
      var unit = document.getElementById("unitsSelect").value;
      var timeFrame = document.querySelector(
        'input[name="timeFrame"]:checked'
      ).value;
      url =
        "http://127.0.0.1:5000/getGraph?unit=" + unit + "&time=" + timeFrame;
      fetch(url, { method: "POST" })
        .then((response) => response.json())
        .then((res) =>
          (document.getElementById("iframe").src = "/static/myGraph.html")(
            (document.getElementById("loader").style.display = "none")
          )
        );
    }
  </script>
</html>
