<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Market</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@next/dist/tailwind.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/dist/css/output.css" />
    <link rel="stylesheet" href="../static/dist/css/style.css" />
  </head>
  <body
    class="text-gray-700 bg-white"
    style="font-family: 'Source Sans Pro', sans-serif"
  >
    <!--Nav-->
    <nav>
      <div
        class="container mx-auto px-6 py-2 flex justify-between items-center"
      >
        <a class="font-bold text-2xl lg:text-4xl" href="#">
          <span
            class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600"
            >The Market!</span
          >
        </a>
        <div class="lg:block">
          <ul class="inline-flex">
            <li>
              <a class="px-4 font-bold" href="/">Home</a>
            </li>
            <li>
              <a class="px-4 hover:text-gray-800" href="/">About</a>
            </li>
            <li>
              <a style="color: red" class="text-red px-4" href="/logout"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Hero-->
    <div
      class="py-20"
      style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)"
    >
      <div class="container mx-auto px-6">
        <h2 class="text-4xl font-bold mb-2 text-white">
          Smart investment advisor!
        </h2>
        <h3 class="text-2xl mb-8 text-gray-200">
          Minimize your risks and invest smartly anywhere you go.
        </h3>
        <a
          href="/register"
          class="bg-white font-bold rounded-full py-2 px-2 shadow-lg uppercase tracking-wider"
        >
          Register
        </a>
        <br /><br />
        Do you already have an account?
        <a
          href="/login"
          class="bg-white font-bold rounded-full py-2 px-2 shadow-lg uppercase tracking-wider"
        >
          Login
        </a>
      </div>
    </div>
    <!-- Features -->
    <section class="container mx-auto px-6 p-10">
      <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
        Features
      </h2>
      <div class="flex items-center flex-wrap mb-20 grid grid-cols-2">
        <div class="w-full md:w-1/2">
          <h4 class="text-3xl text-gray-800 font-bold mb-3">
            Easy registration and use
          </h4>
          <p class="text-gray-600 mb-8">
            It is very easy to register and start using our system, just a few
            clicks and you are ready go.
          </p>
        </div>
        <div class="w-full md:w-1/2">
          <img
            width="300px"
            src="../static/src/monitoring_ill.jpg"
            alt="Monitoring"
          />
        </div>
      </div>
      <div class="flex items-center flex-wrap mb-20 grid grid-cols-2">
        <div class="w-full md:w-1/2">
          <img
            class="rounded-full ml-3"
            width="300px"
            src="../static/src/reporting_ill.jpg"
            alt="Reporting"
          />
        </div>
        <div class="w-full md:w-1/2 pl-10">
          <h4 class="text-3xl text-gray-800 font-bold mb-3">Reporting</h4>
          <p class="text-gray-600 mb-8">
            The graphics we present are very self-explanatory and will not leave
            you in any doubt about what will happen.
          </p>
        </div>
      </div>
      <div class="flex items-center flex-wrap mb-20 grid grid-cols-2 mb-12">
        <div class="w-full md:w-1/2">
          <h4 class="text-3xl text-gray-800 font-bold mb-3">Flexibility</h4>
          <p class="text-gray-600 mb-8">
            You can easily change the bot according to different usage times and
            most used currencies and you can be sure of your movements.
          </p>
        </div>
        <div class="w-full md:w-1/2">
          <img
            class="rounded-full ml-3"
            width="300px"
            src="../static/src/flex_ill.jpg"
            alt="Flexibility"
          />
        </div>
      </div>
    </section>
    <!--Footer-->
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
    />
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <footer class="relative bg-blueGray-200 pt-8 pb-6">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
          <div class="w-full lg:w-6/12 px-4">
            <h4 class="text-3xl fonat-semibold text-blueGray-700">
              Let's keep in touch!
            </h4>
            <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
              Find us on any of these platforms, we respond 1-2 business days.
            </h5>
            <div class="mt-6 lg:mb-0 mb-6">
              <button
                onclick="location.href='https://github.com/muratyilmaz743/The-Market';"
                class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                type="button"
              >
                <i class="fab fa-github"></i>
              </button>
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="flex flex-wrap items-top mb-6">
              <div class="w-full lg:w-4/12 px-4 ml-auto">
                <span
                  class="block uppercase text-blueGray-500 text-sm font-semibold mb-2"
                  >Useful Links</span
                >
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="https://www.findmurat.dev/"
                      >About Us</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="https://github.com/muratyilmaz743/The-Market"
                      >Github</a
                    >
                  </li>
                </ul>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <span
                  class="block uppercase text-blueGray-500 text-sm font-semibold mb-2"
                  >Other Resources</span
                >
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      >MIT License</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="#"
                      >Terms &amp; Conditions</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="#"
                      >Privacy Policy</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="mailto:mrt.yilmaz743@gmail.com"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-6 border-blueGray-300" />
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-blueGray-500 font-semibold py-1">
              Copyright © <span id="get-current-year">2022</span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
